{% load url from future %}
<div class="row">
  <div class="span12">
	<!-- now playing -->

    <div class="hero-unit" id="current">
      {% if current %}
      <script type="text/javascript">
        $(document).ready(function() {
          document.title = '{{ current.title }}';
        });
      </script>
      <div class="rateBox">
        <script>$('#rate-up').tooltip()</script>
        {% if rateSelf == 'X' %}
        <a id="rate-up" title="Sorry, you can't rate songs that you've queued.">
          <i class="rate-up-inactive"></i>
        </a>
        {% else %}
        <a id="rate-up" href="{% url 'cannen.views.rate' '+' current.model.id %}" class="asynclink" 
          title="<i class='icon-leaf icon-white'></i> Give a leaf to the DJ who queued this song">
          {% if rateSelf.rate == 1 %}
          <i class="rate-up-active"></i>
          {% else %}
          <i class="rate-up"></i>
          {% endif %}
        </a>
        {% endif %}
        </br>
        <span id="songScore">
          {% if songScore %}
            {{ songScore.score }}
          {% else %}
            0 
          {% endif %}
        </span>
        </br>
        <script>$('#rate-down').tooltip()</script>
        {% if rateSelf == 'X' %}
        <a id="rate-down" title="Sorry, you can't rate songs that you've queued.">
          <i class="rate-down-inactive"></i>
        </a>
        {% else %}
        <a id="rate-down" href="{% url 'cannen.views.rate' '-' current.model.id %}" class="asynclink" 
          title="<i class='icon-fire icon-white'></i> Burn the DJ who queued this song">
          {% if rateSelf.rate == -1 %}
          <i class="rate-down-active"></i>
          {% else %}
          <i class="rate-down"></i>
          {% endif %}
        </a>
        {% endif %}
      </div>
      <div class="title">
        {{ current.title }}
      </div>
      {% if current.artist %}
      <script type="text/javascript">
        $(document).ready(function() {
          document.title = document.title + ' - {{ current.artist }}';
        });
      </script>
      <div class="subtitle">
        by {{ current.artist }}
      </div>
      {% endif %}
      <div class="suggested">
        queued by <span class="label">{{ current.model.submitter.username }}</span>
      </div>
      {% if current.time %}
      <script type="text/javascript">
        $(document).ready(function() {
          document.title = document.title + ' ({{ current.elapsed }} / {{ current.time }})';
        });
      </script>
      <div class="time">
        time: {{ current.elapsed }} / {{ current.time }} 
      </div>
      {% endif %}
      <div class="btn-group">
          <script>$('#skipTool').tooltip()</script>
          <a href="{% url 'cannen.views.poll' 'skip' current.model.id %}" id="skipTool" class="btn btn-mini asynclink" rel="tooltip" data-animation='false' data-placement='bottom' title="Initiate a vote to skip this song">
            <i class="icon-fast-forward"></i>
          </a>
      </div>
      {% else %}
      <script type="text/javascript">
        $(document).ready(function() {
          document.title = 'nothing is playing';
        });
      </script>
      <div class="title">
        nothing is playing
      </div>
      <div class="subtitle">
        what a shame
      </div>
      <div class="suggested">
        (use the controls below to suggest your own music)
      </div>
      {% endif %}
    </div>
  </div>
</div>



{% for d in polls %}
<!-- poll alert script
<script type="text/javascript">
  $(document).ready(function() {
    flash=false;
    function a(){
      if(document.title=="New Poll!")
        document.title=" - - - - - - - - - - ";
      setTimeout(b,500);
    }
    function b(){
      if (flash) { document.title="New Poll!"; }
      setTimeout(a,500);
    }
    b();
    {% if d.vote.vote = None %}flash=true;{% endif %}
  });
</script> -->
<div class="alert {% if d.vote.vote != None and d.vote.vote %}alert-success{% elif d.vote.vote != None and not d.vote.vote  %}alert-error{% else %}alert-info{% endif %}">
  <a href="{% url 'cannen.views.vote' 'n' d.poll.id %}" onClick="flash=false;" class="close asynclink" data-dismiss="alert">×</a>
  {% if d.poll.owner == request.user %}<a href="{% url 'cannen.views.poll' 'admin' d.poll.id 'trash' %}" onClick="flash=false;" class="close asynclink" data-dismiss="alert"><icon class="icon-trash"></i></a>{% endif %}
  <h4>{{ d.poll.owner }} would like to {{ d.poll.action }}{%if d.poll.globalSong %} {{ d.poll.globalSong }}{% endif %}</h4>
  {% if d.poll.coinCostOwner > 0 %}If this vote passes then {{ d.poll.owner }} will be required to spend <i class="icon-leaf"></i>{{ d.poll.coinCostOwner }}. {% endif %}Do you support them?<br/>
  {% if d.poll.coinCostAgree > 0 %}<b>To agree with this poll it will cost you <i class="icon-leaf"></i>{{ d.poll.coinCostAgree }}</b>. Leaves will only be charged when the required votes are met.<br/>{% endif %}
  {% if d.poll.coinCostDisagree > 0 %}<b>To disagree with this poll it will cost you <i class="icon-leaf"></i>{{ d.poll.coinCostDisagree }}</b>. Leaves will only be charged when the required votes are met.<br/>{% endif %}
  <a href="{% url 'cannen.views.vote' 't' d.poll.id %}" onClick="flash=false;" 
    class="btn btn-mini asynclink{% if d.vote.vote != None and d.vote.vote %} active{% endif %}" data-dismiss="alert">
      <i class="icon-thumbs-up"></i>
  </a>
  <a href="{% url 'cannen.views.vote' 'f' d.poll.id %}" onClick="flash=false;" 
    class="btn btn-mini asynclink{% if d.vote.vote != None and not d.vote.vote %} active{% endif %}" data-dismiss="alert">
      <i class="icon-thumbs-down"></i>
  </a>
  {% if d.stats %}
    {{ d.stats.total }} of {{ d.stats.required }} votes required of which {{ d.stats.requiredYes }} have to be in favor.
  {% endif %}
</div>
{% endfor %}

<div class="row">
  <!-- the queues -->
  <div class="span12" id="main-queue">
    <h2>coming up</h2>      
    

    {% if playlist %}
    <ul class="unstyled">
      {% for song in playlist %}
      <li>
        <span class="title">{{ song.title }}</span>
        {% if song.artist %} 
        <span class="subtitle">by {{ song.artist }}</span>
        {% endif %} 
        <span class="label">{{song.model.submitter.username}}</span>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    there's no more music! use the controls below to remedy this situation!
    {% endif %}
  </div>
  
  {% if enable_library %}
  <div class="span7" id="library">
    <ul class="nav nav-list">
      <li class="nav-header">
        Your Library <a href={% url 'cannen.views.library' %}>View All</a>
      </li>
    </ul>
    {% if library %}
    <ul id="not-sortable" class="nav nav-list">
      {% for song in library %}
      <li class="context-container" id="library-{{ song.model.id }}">
        <span class="context">
          <a href="{% url 'cannen.views.play' song.model.file.url %}" class="asynclink">
            <i class="icon-play"></i>
          </a>
        </span>      
        <span class="title">{{ song.title }}</span>
        {% if song.artist %}
        <span class="subtitle">by {{ song.artist }}</span>
        {% endif %}
      </li>
      {% endfor %}  
    </ul>    
    {% else %}
    <p>There is nothing in the user Library, but uploading items will add them to your local user Library, so get to it!</p>
    {% endif %}
  </div>
  {% endif %}
  
  <div class="span5" id="personal-queue">
    <ul class="nav nav-list">
      <li class="nav-header">
        Your Queue
      </li>
    </ul>
    {% if queue %}
    <ul id="sortable" class="nav nav-list">
      {% for song in queue %}
      <li class="context-container" id="queue-{{ song.model.id }}">
        <span class="context">
          <a href="{% url 'cannen.views.delete' song.model.id %}" class="asynclink">
            <i class="icon-remove"></i>
          </a>
        </span>
        <span class="title">{{ song.title }}</span>
        {% if song.artist %}
        <span class="subtitle">by {{ song.artist }}</span>
        {% endif %}
      </li>
      {% endfor %}      
    </ul>
    {% else %}
    <p>add songs here for them to be automatically added when it's your turn</p>
    {% endif %}
  </div>

  {% if leaderboard %}
  <div class="span5" id="leaderboard">
    <ul class="nav nav-list">
      <li class="nav-header">
        <i class="icon-leaf"></i> Best DJs
      </li>
    </ul>
    <ul id="not-sortable" class="nav nav-list">
      {% for user in leaderboard.bestDJs %}
      <li class="context-container" id="leaderboard-bestdj-{{ user.model.id }}">
        <span class="context">
           <i class="icon-user"></i>
        </span>
        <span class="subtitle">{{ user.coinsEarned }}</span>
        <span class="title">{{ user.user }}</span>
      </li>
      {% endfor %}      
    </ul>
    <ul class="nav nav-list">
      <li class="nav-header">
        <i class="icon-music"></i> Best Songs
      </li>
    </ul>
    <ul id="not-sortable" class="nav nav-list">
      {% for song in leaderboard.bestSongs %}
      <li class="context-container" id="leaderboard-bestsong-{{ song.tags.model.id }}">
        <span class="context">
          <a href="{% url 'cannen.views.play' song.rates.url %}" class="asynclink">
            <i class="icon-play"></i>
          </a>
        </span>
        <span class="badge"> {{ song.rates.score }}</span>
        <span class="title">{{ song.tags.title }}</span>
        <span class="subtitle">{{ song.tags.artist }}</span>
      </li>
      {% endfor %}      
    </ul>
    <ul class="nav nav-list">
      <li class="nav-header">
        <i class="icon-fire"></i> Worst DJs 
      </li>
    </ul>
    <ul id="not-sortable" class="nav nav-list">
      {% for user in leaderboard.worstDJs %}
      <li class="context-container" id="leaderboard-worstdj-{{ user.model.id }}">
        <span class="context">
           <i class="icon-user"></i>
        </span>
        <span class="subtitle">{{ user.downRatesReceived }}</span>      
        <span class="title">{{ user.user }}</span>
      </li>
      {% endfor %}      
    </ul>
    <ul class="nav nav-list">
      <li class="nav-header">
        <i class="icon-volume-off"></i> Worst Songs
      </li>
    </ul>
    <ul id="not-sortable" class="nav nav-list">
      {% for song in leaderboard.worstSongs %}
      <li class="context-container" id="leaderboard-bestsong-{{ song.tags.model.id }}">
        <span class="context">
          <a href="{% url 'cannen.views.poll' 'trash' song.tags.model.id %}" data-toggle="modal" class="asynclink"><i class="icon-trash"></i></a>
        </span>
        <span class="badge"> {{ song.rates.score }}</span>
        <span class="title">{{ song.tags.title }}</span>
        <span class="subtitle">{{ song.tags.artist }}</span>
      </li>
      {% endfor %}      
    </ul>
  </div>
  {% endif %}
</div>


