<ul class="nav nav-list">
  {% if currentListeners %}
  
  <li><a{% if statusLink %} href="{{ statusLink }}"{% endif %}>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="icon-user icon-white"></i> {{ currentListeners }}
  </a></li>
  {% endif %}
  {% if leaves %}
  <script>$('#leaves').tooltip('hide')</script>
  <li><a id="leaves" rel="tooltip" data-placement='bottom' 
    title='Leaves are earned by other listeners liking your queued selections<br/>
    You will be able to spend your leaves in future updates for additional features.
    '>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="icon-leaf icon-white"></i> {{ leaves }}
  </a></li>
  {% endif %}
  {% if burns %}
  <script>$('#burns').tooltip('hide')</script>
  <li><a id="burns" rel="tooltip" data-placement='bottom' 
    title="Burns are the number of times that your song wasn't liked by other listeners<br/>
      But don't worry, they don't really mean anything.">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <i class="icon-fire icon-white"></i> {{ burns }}
  </a></li>
  {% endif %}
</ul>